{% extends "base.html.twig" %}

{% block content %}

    <form class="center" enctype="multipart/form-data" action="" method="post">
        <input type="hidden" name="MAX_FILE_SIZE" value="104857060">
        Загружаемый файл: <input class="btn" type="file" name="uploadfile">
        <input class="btn" type="submit" value="Загрузить выбранный файл">
    </form>

{% endblock %}